.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;
}

.left-nav, .right-nav {
  width: 50%;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.left-nav > ul {
  display: flex;
  justify-content: flex-start;
}

.right-nav > ul {
  display: flex;
  justify-content: flex-end;
}

.left-nav > ul > li {
  font-size: 14px;
  margin-right: 20px;
}

.right-nav > ul > li {
  margin-right: 10px;
}

.right-nav > ul > li:last-of-type {
  font-size: 14px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: #f7f7f5;
}

.left-nav span {

}


.right-nav i {

}
